  @media only screen and (orientation: portrait) {
  	.content {
  		display: none;
  		/* Hide content */
  	}

  	.orientation-message {
  		display: block;
  		/* Show a message */
  	}

  	body {
  		background-image: url("");
  		background-color: rgb(6, 49, 99);
		scrollbar-color: rgba(8, 200, 159, 0.7) cyan;
  	}

  	.activators {
  		display: none;
  	}
  }

  /* Show content when in landscape mode */
  @media only screen and (orientation: landscape) {
  	.content {
  		display: block;
  		/* Show content */
  	}

  	.orientation-message {
  		display: none;
  		/* Hide the message */
  	}

  	body {

  		background-image     : url("assets/spring.png");
  		background-repeat    : no-repeat;
  		background-attachment: fixed;
  		background-size      : cover;
  		--font-style         : normal;
		scrollbar-color: rgba(8, 200, 159, 0.7) cyan;
  		/* Default style */

  	}
  }



  * {
	scrollbar-width: thin;
	scrollbar-color: rgba(8, 59, 200, 0.7)  cyan ; /* thumb color and track color */
  }
  /* The scrollbar track (background) */
::-webkit-scrollbar-track {
    background-color: rgba(8, 200, 159, 0.7) ; 
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color:cyan; 
    border-radius: 10px;
    border: 3px solid cyan; /* Add padding around the thumb */
}




  
  #inv-cont {
  	position        : fixed;
  	bottom          : 10px;
  	left            : 10px;
  	width           : auto;
  	height          : 3cm;
  	overflow-y        : scroll;
  	padding         : 0;
  	z-index         : 10;
  	background-color: rgba(4, 158, 129, 0.8);
  	border          : 8px double rgb(22, 220, 255);
  	border-radius   : 5px;

  	scrollbar-color: rgba(8, 200, 159, 0.7) cyan;
	display:none;
  }

  .hightlight{
	border-color:rgb(6, 252, 67);
  }





  #inv {
  	display              : grid;
  	grid-template-columns: repeat(7, 30px);
  	/* 13 items per row */
  	gap                  : 6px;
  	padding              : 10px;
  }

  .inv-item {
  	width           : 25px;
  	height          : 25px;
  	background-color: darkgrey;
  	display         : flex;
  	align-items     : center;
  	justify-content : center;
  	border          : 2px solid cyan;
  	border-radius   : 3px;
  	overflow        : hidden;
  	cursor          : pointer;
  }

  .inv-item img {
  	width     : 100%;
  	height    : 100%;
  	object-fit: contain;
  }

  #grid {
  	display              : grid;
  	grid-template-columns: repeat(100, 40px);
  	/* 100 columns with each cell 40px wide */
  	grid-template-rows   : repeat(100, 40px);
  	/* 100 rows with each cell 40px tall */
  	gap: 0px;
  	position             : absolute;
  	top                  : 0;
  	left                 : 0;
  	z-index              : 0;
  }

  .grid-cell {
  	width   : 40.5px;
  	height  : 40.5px;
	  object-position:center;
  	border  : 1px solid rgba(0, 230, 230, 0.7);
  	position: relative;
  	/* For positioning steam puffs */
  	overflow: hidden;
	margin:0px;
	padding:0px;
  }

  .grid-cell img {
  	width     : 100%;
  	height    : 100%;
	object-position:center;

	margin:0px;
	padding:0px;
  }


  .steam-puff {
  	position        : absolute;
  	font-family     : 'Roboto Mono', monospace;
  	width           : 100%;
  	height          : 100%;
  	background-color: rgb(0, 255, 90);
  	opacity         : 0.5;
  	color           : rgb(255, 255, 255);
  	font-size       : 0.3cm;
  	text-align      : center;
  	font-weight     : bold;
  	border-radius   : 0px;
  	pointer-events  : none;
  }

  @keyframes flash {
  	0% {
  		background-color: green;
  		color           : violet;
  	}

  	50% {
  		background-color: darkgreen;
  		color           : indigo;
  	}

  	100% {
  		background-color: green;
  		color           : violet;
  	}
  }




  #toggle-hint {
  	display         : block;
  	position        : fixed;
  	top             : 12px;
  	left            : 10px;
  	z-index         : 10;
  	color           : white;
  	background-color: rgba(0, 0, 0, 0.6);
  	font-family     : 'Roboto Mono', monospace;
  	padding         : 5px 10px;
  	border-radius   : 5px;
  	font-size       : 10px;
  }
  #puff-counter{
	display         : block;
	position        : fixed;
	top             : 40px;
	left            : 10px;
	z-index         : 10;
	color           : #ff7b00;
	background-color: rgba(0, 0, 0, 0.3);
	font-family     : 'Roboto Mono', monospace;
	padding         : 5px 10px;
	border-radius   : 5px;
	font-size       : 8px;
}

#block-counter-button{
	display         : block;
	position        : fixed;
	top             : 75px;
	left            : 10px;
	z-index         : 10;
	color           : #b3ff00;
	background-color: rgba(0, 0, 0, 0.3);
	font-family     : 'Roboto Mono', monospace;
	padding         : 5px 10px;
	border-radius   : 5px;
	font-size       : 8px;
}

#block-count-display{
	display         : none;
	position        : fixed;
	top             : 50%;
	left            : 50%;
	width:50%;
	height:50%;
	transform:translate(-50%,-50%);
	z-index         : 10;
	color           : #b3ff00;
	background-color: rgba(1, 36, 77, 0.75);
	font-family     : 'Roboto Mono', monospace;
	padding         : 5px 10px;
	border-radius   : 0px;
	border:15px double rgba(0, 255, 115, 0.719);
	font-size       : 12px;
	overflow-y:scroll;
}

  #top-bar {
  	position        : fixed;
  	width           : 100%;
  	height          : 0.5cm;
  	background-color: rgba(50, 50, 50, 0.7);
  	z-index         : 6;
  	top             : 0px;
  	left            : 0px;
  }

  #show_grid_button {
  	position        : fixed;
  	top             : 15px;
  	right           : 10px;
  	z-index         : 20;
  	padding         : 10px 20px;
  	background-color: violet;
  	font-family     : 'Roboto Mono', monospace;
  	color           : white;
  	border          : none;
  	border-radius   : 5px;
  	cursor          : pointer;
  	font-size       : 9px;
  }



  .activators {
  	position  : absolute;
  	z-index   : 1;
  	font-size : 0.44cm;
  	border    : none;
  	background: none;
  	cursor    : pointer;
  	opacity   : 0.6;
  }

  .activators:hover {
  	opacity  : 1;
  	font-size: 0.47cm;
  }


  .fixed-text {
  	position   : fixed;
  	bottom     : 10px;
  	right      : 10px;
  	font-size  : 9px;
  	color      : white;
  	font-family: 'Roboto Mono', monospace;
  	font-style : italic;
  }

  #load_build_button {
  	position        : fixed;
  	top             : 93px;
  	/* Adjusted to be below the Save Build button */
  	right           : 10px;
  	z-index         : 20;
  	padding         : 10px 20px;
  	background-color: blue;
  	font-family     : 'Roboto Mono', monospace;
  	color           : white;
  	border          : none;
  	border-radius   : 5px;
  	cursor          : pointer;
  	font-size       : 8px;
  }

  #reset_grid_button {
	position        : fixed;
	top             : 130px;
	/* Adjusted to be below the Save Build button */
	right           : 10px;
	z-index         : 20;
	padding         : 10px 20px;
	background-color: rgb(255, 72, 0);
	font-family     : 'Roboto Mono', monospace;
	color           : black;
	font-weight: bold;
	border          : none;
	border-radius   : 5px;
	cursor          : pointer;
	font-size       : 8px;
}

  #load_example_build_button {
  	position        : fixed;
  	top             : 135px;
  	/* Adjusted to be below the Save Build button */
  	right           : 10px;
  	width           : 2.4cm;
  	height          : auto;
  	z-index         : 20;
  	padding         : 10px 20px;
  	background-color: blue;
  	font-family     : 'Roboto Mono', monospace;
  	color           : white;
  	border          : none;
  	border-radius   : 5px;
  	cursor          : pointer;
  	font-size       : 10px;
  	overflow        : scroll;

  }

  .examplebutton {
  	width      : 5cm;
  	height     : 1cm;
  	font-family: 'Roboto Mono', monospace;
  	font-size  : 0.4cm;
  	position   : relative;
  	left       : 50%;
  	transform  : translateX(-50%);
  	margin     : 5px;
  }

  #save_build_button {
  	position        : fixed;
  	top             : 55px;
  	/* Adjusted to be above the Load Build button */
  	right           : 10px;
  	z-index         : 20;
  	padding         : 10px 20px;
  	background-color: darkgreen;
  	font-family     : 'Roboto Mono', monospace;
  	color           : white;
  	border          : none;
  	border-radius   : 5px;
  	cursor          : pointer;
  	font-size       : 8px;
  }