  @media only screen and (orientation: portrait) {
    .content {
        display: none; /* Hide content */
    }
    .orientation-message {
        display: block; /* Show a message */
    }
}

/* Show content when in landscape mode */
@media only screen and (orientation: landscape) {
    .content {
        display: block; /* Show content */
    }
    .orientation-message {
        display: none; /* Hide the message */
    }
}


  body {
		
            background-image: url("assets/bg2.jpg");
            background-repeat: repeat;
            background-size: 5cm;
            margin: 0;
			
			
			font-family: 'Roboto Mono', monospace;
			font-optical-sizing: auto;
			--font-weight: 400; /* Default weight */
			--font-style: normal; /* Default style */
    
        }

        #inv-cont {
            position: fixed;
            bottom: 10px;
            left:10px;
            width:auto;
			height:3cm;
			overflow:scroll;
            padding: 0;
            z-index: 10;
            background-color: rgba(4,158,129,0.5);
            border: 5px double darkcyan;
            border-radius: 5px;
			
			   scrollbar-color:rgba(8,200,159,0.7) cyan;
        }
		
		

		

        #inv {
            display: grid;
            grid-template-columns: repeat(7, 30px); /* 13 items per row */
            gap: 6px;
            padding: 10px;
        }

        .inv-item {
            width: 25px;
            height: 25px;
            background-color: darkgrey;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid cyan;
            border-radius: 3px;
            overflow: hidden;
            cursor: pointer;
        }

        .inv-item img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        #grid {
            display: grid;
            grid-template-columns: repeat(100, 40px); /* 100 columns with each cell 40px wide */
            grid-template-rows: repeat(100, 40px);    /* 100 rows with each cell 40px tall */
            gap: 1px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .grid-cell {
            width:40px;
            height:40px;
            border: 2px groove rgba(60,50,150,0.3);
            position: relative; /* For positioning steam puffs */
            overflow: hidden;
        }

        .grid-cell img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

       
        .steam-puff {
			position: absolute;
			font-family: 'Roboto Mono', monospace;
			width: 100%;
			height: 100%;
			background-color:rgb(0,255,0);
			opacity: 0.1;
			color:white;
			font-size: 0.3cm;
			text-align: center;
			font-weight: bold;
			border-radius: 0px;
			pointer-events: none;
		}
		
		@keyframes flash{
			0%{background-color:green; color:violet;}
			50%{background-color:darkgreen; color:indigo;}
			100%{background-color:green; color:violet;}
		}


       

        #toggle-hint {
            display:block;
            position: fixed;
            top: 12px;
            left: 10px;
            z-index: 10;
            color: white;
            background-color: rgba(0, 0, 0, 0.6);
			font-family: 'Roboto Mono', monospace;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 8px;
        }
		
		#top-bar{
			position:fixed;
			width:100%;
			height:0.5cm;
			background-color:rgba(50,50,50,0.7);
			z-index:6;
			top:0px;
			left:0px;
		}

        #show_grid_button {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 20;
            padding: 10px 20px;
            background-color: violet;
			font-family: 'Roboto Mono', monospace;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 10px;
        }

      

        .activators {
            position: absolute;
            z-index: 1;
            font-size: 0.5cm;
            border: none;
            background: none;
            cursor: pointer;
			opacity:0.6;
        }

        .activators:hover {
          opacity:1;
		  font-size: 0.53cm;
        }
		
	
		.fixed-text {
			position: fixed;
			bottom: 10px; 
			right: 10px;  
			font-size: 9px; 
			color:white;
			font-family: 'Roboto Mono', monospace;
			font-style:italic;
		}
		
		#load_build_button {
			position: fixed;
			top: 95px; /* Adjusted to be below the Save Build button */
			right: 10px;
			z-index: 20;
			padding: 10px 20px;
			background-color: blue; 
			font-family: 'Roboto Mono', monospace;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 8px;
		}
		#load_example_build_button {
			position: fixed;
			top: 135px; /* Adjusted to be below the Save Build button */
			right: 10px;
			width:2.4cm;
			height:auto;
			z-index: 20;
			padding: 10px 20px;
			background-color: blue; 
			font-family: 'Roboto Mono', monospace;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 10px;
			overflow:scroll;
		
		}
		
		.examplebutton{
			width:5cm;
			height:1cm;
		    font-family: 'Roboto Mono', monospace;
			font-size:0.4cm;
			position:relative;
			left:50%; 
			transform:translateX(-50%);
			margin:5px;
		}

	#save_build_button {
		position: fixed;
		top: 55px; /* Adjusted to be above the Load Build button */
		right: 10px;
		z-index: 20;
		padding: 10px 20px;
		background-color: darkgreen; 
		font-family: 'Roboto Mono', monospace;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 8px;
	}
